# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
exdata-035-pa2.Rproj
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# data directory
data/

# knitr cache
README_cache/


.Rproj.user
